<div class="aa-products-empty">
  <p class="aa-no-result">
    Pas de résultats pour  "[[ query ]]"
  </p>

  <p class="aa-see-all">
    <a href="/search?q=">
      Voir tous les produits 
    </a>
  </p>
</div>
