<div> 
		<a class="open-popup" href="#livraison"> <u><i class="fa fa-truck" aria-hidden="true"></i>&nbspEn savoir plus sur la livraison</u></a>
		<div id="livraison" class="mfp-hide">
				{{ pages.livraison.content }}
		</div>              
</div>