<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<center style="display:table;table-layout:fixed;width:100%;min-width:620px;background-color:#fff">
    <table style="border-collapse:collapse;border-spacing:0;width:650px;min-width:650px">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top">
                    <table style="border-collapse:collapse;border-spacing:0;width:602px">
                        <tbody>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:602px">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;padding-top:6px;padding-bottom:20px">
                    <div style="font-family:Avenir,sans-serif;color:#41637e;font-weight:700;letter-spacing:-0.02em;text-align:center;font-size:0px!important;line-height:0!important" align="center">
                        <a style="font-weight:bold;text-decoration:none;color:#41637e" href="http://philippesiguret.cmail19.com/t/i-i-ilikkrt-l-r/" target="_blank"><img style="border:0;display:block;Margin-left:auto;Margin-right:auto;max-width:232px" src="http://img11.hostingpics.net/pics/346879LogoParisPousse.png" alt="" width="232" height="65" class="CToWUd"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#ededed;Margin-left:auto;Margin-right:auto" width="602">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top">
                    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;font-size:14px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="padding:0;vertical-align:top;text-align:left">
                                    <div>
                                        <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                    </div>
                                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                                    <h1 style="font-style:normal;font-weight:700;Margin-bottom:0;Margin-top:0;font-size:36px;line-height:44px;font-family:Avenir,sans-serif;color:#565656;text-align:center">Votre commande  {{ name }} est annulée</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                                    <div style="Margin-bottom:0;Margin-top:0;background-color:#e9e9e9;font-size:2px;line-height:2px;Margin-left:auto;Margin-right:auto;width:60px">&nbsp;</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#ededed;Margin-left:auto;Margin-right:auto" width="602">
        <tbody>
            <tr style="font-size:1px;line-height:1px;background-color:#e9e9e9;height:1px">
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top;line-height:1px">​</td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top">
                    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;font-size:14px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                                    <div>
                                        <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                    </div>
                                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                                    <h3 style="font-style:normal;font-weight:normal;Margin-bottom:0;Margin-top:0;font-size:18px;line-height:22px;font-family:Georgia,serif;color:#555">Malheureusement nous le livrons pas toute la France, nous ne livrons que le 94, le 92 et Paris...</h3>
                                                    <h3 style="font-style:normal;font-weight:normal;Margin-bottom:0;Margin-top:0;font-size:18px;line-height:22px;font-family:Georgia,serif;color:#555">Ne prenez donc pas en compte le mail précédent de confirmation de commande.</h3>
                                                    <h3 style="font-style:normal;font-weight:normal;Margin-bottom:0;Margin-top:0;font-size:18px;line-height:22px;font-family:Georgia,serif;color:#555">Vous ne serez pas débités de votre compte</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#ededed;Margin-left:auto;Margin-right:auto" width="602">
        <tbody>
            <tr style="font-size:1px;line-height:1px;background-color:#e9e9e9;height:1px">
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top;line-height:1px">​</td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    {% for line in line_items %}
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top">
                    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;font-size:14px;table-layout:fixed">
                        <tbody>
                            <tr>
                                <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                                    <div style="font-size:12px;font-style:normal;font-weight:400;Margin-bottom:0;Margin-top:0;font-family:Georgia,serif;color:#565656" align="center">
                                        <img style="border:0;display:block;max-width:480px" src="{{ line | img_url: 'small' }}" alt="" class="CToWUd a6T" tabindex="0">
                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 388.5px; top: 684px;">
                                            <div id=":d5" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Télécharger" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V">
                                                <div class="aSK J-J5-Ji aYr"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                </td>
                                  <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                                    <div>
                                        <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                    </div>
                                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                                                    <h3 style="font-style:normal;font-weight:normal;Margin-bottom:0;Margin-top:0;font-size:18px;line-height:22px;font-family:Georgia,serif;color:#555">{{ line.quantity }} {{ line.title }} à {{ line.price | money }} {% for discount in line.applied_discounts %} ( -{{ discount.amount | money }} ){% endfor %}</h3>
                                                    <p style="font-style:normal;font-weight:400;Margin-bottom:0;Margin-top:16px;line-height:24px;font-family:Georgia,serif;color:#565656"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="font-size:32px;line-height:32px">&nbsp;</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#ededed;Margin-left:auto;Margin-right:auto" width="602">
        <tbody>
            <tr style="font-size:1px;line-height:1px;background-color:#e9e9e9;height:1px">
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
                <td style="padding:0;vertical-align:top;line-height:1px">​</td>
                <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#ededed;width:1px">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#ededed;Margin-left:auto;Margin-right:auto" width="602">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top">​</td>
            </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:100%">
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top">&nbsp;</td>
                <td style="padding:58px 0 29px 0;vertical-align:top;width:600px">
                    <table style="border-collapse:collapse;border-spacing:0" align="right">
                        <tbody>
                            <tr>
                                <td style="padding:0;vertical-align:top;color:#999;font-size:12px;line-height:22px;max-width:200px">
                                    <div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="border-collapse:collapse;border-spacing:0" align="left">
                        <tbody>
                            <tr>
                                <td style="padding:0;vertical-align:top;color:#999;font-size:12px;line-height:22px;text-align:left;width:400px">
                                    <div style="font-family:Georgia,serif;Margin-bottom:18px">
                                        <div>ParisPousse&nbsp;
                                            <br> 218 rue des Pyrénées, 75020 Paris&nbsp;</div>
                                    </div>
                                    <div style="font-family:Georgia,serif">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding:0;vertical-align:top">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</center>
