<div id="product_shop_box">
    <div class="price-box-product">
        <span class="regular-price" id="product-price-25121">
                <span class="price">119&nbsp;€</span> </span>
        <span style="display:none;" property="price" itemprop="price" content="119.00">
                119.00            </span>
        <span style="display:none;" property="priceCurrency" content="EUR">€</span>
    </div>
    <div class="add-to-box">
        <fieldset class="add-to-cart">
            <label style="display:none" for="qty">Qté:</label>
            <input style="display:none" type="text" class="input-text qty" name="qty" id="qty" maxlength="12" value="">
            <button id="product_addtocart_button" type="button" class="default-btn" onclick="productAddToCartForm.submit(this)">
                <!-- display correct button for sale product or normal priced product -->
                <span>Ajouter au panier</span>
            </button>
        </fieldset>
    </div>
    <!-- END .add-to-box -->
    <div class="clearer"></div>
    <!-- get product and pricing details of product -->
    <div id="timeleft" class="DropDownList">
        <a class="icon-clock-circled"></a>
        <div class="countdown title">
            <span class="accordion-arrow"></span>
        </div>
    </div>
    <div id="product-page-stock" class="hide" data-threshold="10">Plus que {{stock:count}} en stock</div>
</div>
