[[# hasNoResults ]]
  No result found
[[/ hasNoResults ]]

[[# hasOneResult ]]
  <span class="ais-stats--nb-results">
    1 résultat
  </span>
[[/ hasOneResult ]]

[[# hasManyResults ]]
  <span class="ais-stats--nb-results">
    [[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]
    résultats
  </span>
[[/ hasManyResults ]]
