<div class="ais-hit-empty">
  <div class="ais-hit-empty--title">Pas de résultats :(</div>
  <div class="ais-hit-empty--clears">Essayez
    <a class="ais-hit-empty--clear-filters ais-link">d'enlever les filtres</a>
    ou
    <a class="ais-hit-empty--clear-input ais-link">modifier votre recherche</a>
  </div>
</div>
