@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

ul {
  list-style-type: none;
}

.header .header__logo {
  text-align: center;
  display: block;
  margin: auto;
  width: 150px;
  padding: 33px 0 20px 0;
}

.header .header__item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.menu {
  width: 100%;
  display: block;
}

.menu.row {
  padding: 41px 0 55px 0px;
  margin: 0;
}

.menu .menu__item {
  line-height: 45px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #f6f6f6;
  opacity: 0.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}

.menu .menu__item_active {
  font-weight: bold;
  color: #fff;
  background-color: #008a4d;
  opacity: 1;
  box-shadow: none;
}

.main__image {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  top: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero__content {
  width: 76%;
  background-color: #fff;
  z-index: 1;
  position: relative;
  margin-top: 52px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 39px;
  padding-right: 30px;
}

.content__heading {
  font-weight: normal;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: 42px;
}

.content__desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 30px;
}

.content__desc._m-top-30 {
  margin-top: 30px;
}

.content__link {
  font-weight: bold;
  text-decoration: underline;
}

.content__link._c_green {
  color: #0b8f54;
}


.hero__box {
  width: 92%;
  margin: 34px auto;
  display: block;
}

.hero__box .box__heading {
  line-height: 64px;
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.hero__box .box__content {
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.hero__box .box__product-img {
  display: block;
  margin: auto;
  width: 199px;
  margin-top: 38px;
}

.hero__box .box__product-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  line-height: 1.88;
  margin-top: 60px;
}

.hero__box .box__product-info {
  border: 1px solid #008a4d;
  padding: 6px 20px;
  margin-top: 50px;
  position: relative;
}

.hero__box .box__product-info p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.88;
  margin-top: 27px;
}

.hero__box .box__product-info h3 {
  background-color: #008a4d;
  width: 189px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0 19px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 42px;
  position: absolute;
  top: -21px;
  left: 10px;
}

.hero__box .box__form {
  margin: 40px auto;
}

.box__form .box__form-input {
  line-height: 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #009557;
  display: inline-block;
  width: 329px;
  margin-right: -5px;
  padding: 0 19px;
}


.box__form .box__form-submit {
  line-height: 57px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #009557;
  border: 1px solid #009557;
  width: 147px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
}

.section__maintenance {
  padding: 11px 0;
}

.maintenance__header {
  font-weight: normal;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  text-align: center;
}

.section__desc {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.section__desc p {
  margin-bottom: 3rem;
}

.section__desc._maintenance {
  width: 88%;
  margin: 25px auto;
}

.section__desc h4 {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}

.section__desc b {
  font-weight: 700;
}

.section__desc h4 span {
  width: 25px;
  display: inline-block;
  text-align: center;
}

.section__desc span._hover {
  color: #008a4d;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.section__diseases {
  padding: 11px 0;
}

.section__repot {
  padding: 80px 0;
}

.section__long-img {
  width: 96%;
  height: 912px;
}

.section__long-img._right {
  height: 839px
}

.section__long-img-emoji {
  width: 55px;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 100%;
  line-height: 55px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 55px;
}

.section__long-img-emoji._right {
  right: 0;
}

.section__long-img-emoji._left {
  left: -12px;
}

@media (min-width: 1200px) {
  .section_smaller .container {
    max-width: 1020px;
  }
}

.section__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.section__heading._left {
  text-align: left;
}

.section__desc._diseases {
  float: right;
  width: 94%;
  display: block;
}

.section__desc._repot {
  float: left;
  width: 94%;
  display: block;
}

.section__rec {
  float: right;
  width: 94%;
  display: block;
}

.section__rec._left {
  float: left;
}

.section__rec .rec__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f6f6f6;
  line-height: 48px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 20px;
}

.rec__box {
  width: 360px;
  margin: auto;
  display: block;
}

.rec__box img {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.rec__box h4 {
  font-weight: normal;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.rec__box p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.rec__box span {
  background-color: #000;
  width: 40px;
  height: 1px;
  display: block;
  position: relative;
  top: -5px;
  margin: 9px 0;
}

.rec__box button {
  width: 196px;
  line-height: 48px;
  background-color: #008a4d;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.rec__arrow {
  width: 30px;
  height: 30px;
  display: block;
  background-color: transparent;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #008a4d;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.rec__arrow._left {
  left: 34px;
  transform: rotate(-45deg)
}

.rec__arrow._right {
  right: 34px;
  transform: rotate(135deg)
}

.rec__dots {
  margin-top: 15px;
}

.rec__dots span {
  width: 10px;
  height: 10px;
  background-color: #f6f6f6;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}

.rec__dots span._active {
  background-color: #008a4d;
}

.scroll-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 30px;
  z-index: 2;
  width: 16%;
  padding: 50px 0;
}

.scroll-box .scroll-box__list {
  padding: 0;
}

.scroll-box .scroll-box__list-item {
  font-family: 'Open Sans', sans-serif;
  display: block;
  line-height: 40px;
  padding: 0 15px;
  color: #000;
  font-size: 13px;
  font-weight: normal;
}

.scroll-box .scroll-box__list-item._active {
  padding: 0 12px;
  color: #0b8f54;
  border-left: 3px solid #0b8f54;
  font-weight: bold;
}

.scroll-box .scroll-box__product-img {
  width: 100px;
  margin: 50px auto 15px;
  display: block;
}

.scroll-box .scroll-box__product-name {
  font-weight: normal;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: center;
}

.scroll-box .scroll-box__product-price {
  font-weight: normal;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

.scroll-box .scroll-box__product-add {
  width: 196px;
  line-height: 48px;
  background-color: #008a4d;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  margin: 40px auto 0;
  display: block;
}

@media (max-width: 768px) {

  .col-12.no-pad {
    padding: 0 !important;
    margin: 0;
  }

  .container {
    width: 100% !important;
    max-width: none !important;
  }

  
  .scroll-box {
    display: none;
  }

  .main__image {
    padding: 0;
  }

  .hero .hero__content {
    display: block;
    margin: 52px auto 0;
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  .menu .menu__item {
    font-size: 10px;
    letter-spacing: 0.71px;
    padding: 0;
  }
  .hero__box .box__content {
    border: none;
  }

  .section__desc._maintenance {
    width: 100%;
  }

  .box__product-info {
    width: 100%;
    margin: 50px auto 0;
  }

  .box__product-img {
    display: none !important;
  }

  .box__form .box__form-input {
    width: 58%;
    line-height: 40px;
    font-size: 14px;
    padding: 0 9px;
  }
  .box__form .box__form-submit {
    width: 42%;
    line-height: 40px;
    font-size: 14px;
  }

  .section__desc._diseases {
    width: 100%;
  }

  .section__desc._repot {
    width: 100%;
  }

  .hero__box .box__product-desc {
    font-size: 12px;
    line-height: 20px;
    width: 77%;
  }

  .hero__box .box__product-info p {
    font-size: 12px;
  }

  .hero__box .box__product-info h3 {
    font-size: 12px;
  }

  .hero__box .box__heading {
    font-size: 13px;
  }

  .section__rec .rec__title {
    font-size: 13px;
  }

  .section__long-img {
    width: 100%;
    height: 128px;
    object-fit: cover;
  }

  .section__long-img._right {
    height: 128px;
  }

  .section__long-img-emoji {
    top: initial;
    bottom: -26px;
    left: 0;
    right: 0;
  }

  .section__heading {
    margin: 60px 0 20px;
    text-align: left;
    font-size: 12px;
  }

  .section__desc p {
    margin-bottom: 2rem;
  }

  .section__rec {
    width: 100%;
  }

  .rec__box h4 {
    font-size: 16px;
  }

  .rec__box p {
    font-size: 12px;
  }

  .rec__box img {
    max-width: 41%;
    top: -13px;
  }
  .rec__box {
    width: 91%;
  }
  .rec__box button {
    width: 97%;
    margin: auto;
    display: block;
    font-size: 13px;
  }
  .rec__dots {
    display: block;
    margin: 13px auto 0;
    width: 50%;
  }
  .rec__arrow {
    top: -36px;
  }
  .rec__arrow._left {
    left: 21px;
  }
  .rec__arrow._right {
    right: 21px;
  }
  .section__repot {
    padding: 0;
  }

  .section__advice {
    text-align: center;
  }

  .section__advice h2 {
    text-align: center;
  }

  .section__desc {
    font-size: 12px;
    line-height: 20px;
  }

  .section__desc h4 {
    font-size: 12px;
  }
  .maintenance__header {
    font-size: 24px;
  }

  .content__heading {
    font-size: 26px;
  }

  .content__desc {
    font-size: 12px;
    line-height: 20px;
  }
}

.ham {
  position: absolute !important;
  top: 39px;
}

.ham .navbar-toggler {
  border-color: transparent !important;
}

.ham .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (max-width: 978px) {

  .container {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
}