<!-- /templates/page.blank.liquid -->
<style>
  .header-wrapper, .newsletter, footer, .chatlio-widget {
    display: none;
  }
</style>

<div class="container">

    <div class="review align-middle text-center">
        <div>
            <img src="//cdn.shopify.com/s/files/1/1063/7402/files/image-08f613b8bae91e3c6d963dac32c518dc-default_large.png?v=1486827822" alt="" style="display: block; margin-left: auto; margin-right: auto;" />
        </div>
    <br/>
          {{ page.content }}

    <br />
        <a href="https://www.facebook.com/parispousse/reviews/"><button type="button" class="btn btn--secondary" style="font-size: 120%;">Notez 5 <i class="fa fa-star" aria-hidden="true"></i> sur Facebook</button></a>
    </div>

</div>

